/* Main App */

.header {
    padding-top: 20px;
    background: #f1f2ff70;
}
/* #28282a */
.content {
    margin: 24px 16px;
    padding: 20px;
}

.trigger-btn {
    font-size: 16px;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.menu-bar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 500;
}

.sidebar-icons {
    color : #b5b5e693 !important;
    font-size: 20px !important;
}

.ant-menu-item-selected {
    background-color: #0015f6c1 !important;
    color: #fff !important;
}


/* Sider */
.sider {
    height: 100vh;
    position: sticky !important;
    left: 0;
    bottom: 0;
    top : 0;
}

.logo {
    color: #4f6f52;
    margin: 30px 0;
    font-size: 1.5rem;
}

.ant-btn:hover {
    color: #4f6f52 !important;
    border-color: #4f6f52 !important;   
}

/* Content */

.content {
    /* background-color: #d5daff70; */
}

/* Profile */

.profile-icons {
    padding: 10px;
    font-size: 18px;
    color: #292c6f;
    border: 2px solid #e3e3e383;
    border-radius: 7px;
}