/* Main App */
.header {
    padding-top: 12px;
    background: #ffff;
}

.content {
    margin: 24px 16px;
    padding: 20px;
}

.trigger-btn {
    font-size: 16px;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.menu-bar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 500;
}

.ant-menu-item-selected {
    background-color: #4f6f52 !important;
    color: #fff !important;
}


/* Sider */
.sider {
    height: 100vh;
    position: sticky !important;
    left: 0;
    bottom: 0;
    top : 0;
}

.logo {
    color: #4f6f52;
    margin: 30px 0;
    font-size: 1.5rem;
}